body {
    background-color: #000000; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
}

h1 {
    font-weight: normal;
}

/* Новий контейнер для позиціонування кнопки над canvas */
#game-container {
    position: relative; /* Батьківський елемент для абсолютно позиціонованої кнопки */
}

canvas {
    background-color: #000000; 
    border: 2px solid #ffffff; 
    touch-action: none; 
}

/* Стилі для нової кнопки */
#restartButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрування кнопки */
    padding: 15px 30px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#restartButton:hover {
    background-color: #ccc;
}

/* Клас для приховування кнопки */
.hidden {
    display: none;
}