body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #eee;
}

canvas {
    background-color: #000;
    border: 2px solid #fff;
}
.controls {
    margin-top: 20px;
}
.controls button {
    padding: 15px 20px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}