body {
    background-color: #000000; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
}

h1 {
    font-weight: normal;
}

canvas {
    background-color: #000000; 
    border: 2px solid #ffffff; 
    touch-action: none; 
    cursor: pointer; /* Додаємо курсор, щоб було видно, що поле клікабельне */
}